doctype html
html.sans-serif
	head
		title= title
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href="/dist/bundle.css")
	body
		block content
		script(async defer src='https://buttons.github.io/buttons.js')
	footer
		div.mv5.bt.b--black-50.center.tc.pt5
			a(class="github-button h3" href="https://github.com/spookyUnknownUser/Paiboi" data-icon="octicon-star" data-size="large" aria-label="Star spookyUnknownUser/Paiboi on GitHub") Star on Github
			p Made with 💔 for Ajit Pai 
		script(src='/dist/bundle.js')
